<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.7.0" targetFramework="net452" />
  <package id="Core.Calendar" version="0.1.193" targetFramework="net452" />
  <package id="Core.Common" version="0.1.4" targetFramework="net452" />
  <package id="DDay.iCal" version="1.0.2.575" targetFramework="net452" />
  <package id="Google.Apis" version="1.11.1" targetFramework="net452" />
  <package id="Google.Apis.Auth" version="1.11.1" targetFramework="net452" />
  <package id="Google.Apis.Calendar.v3" version="1.12.0.460" targetFramework="net452" />
  <package id="Google.Apis.Core" version="1.11.1" targetFramework="net452" />
  <package id="Google.GData.AccessControl" version="2.2.0.0" targetFramework="net452" />
  <package id="Google.GData.Apps" version="2.2.0.0" targetFramework="net452" />
  <package id="Google.GData.Calendar" version="2.2.0.0" targetFramework="net452" />
  <package id="Google.GData.Client" version="2.2.0.0" targetFramework="net452" />
  <package id="Google.GData.Extensions" version="2.2.0.0" targetFramework="net452" />
  <package id="Google.GData.Spreadsheets" version="2.2.0.0" targetFramework="net452" />
  <package id="log4net" version="2.0.3" targetFramework="net452" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="net452" />
</packages>